.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 100px);
    &.light {
        background-color: var(--white);
    }
    &.dark {
        background-color: var(--ink-light);
    }
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.main__item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    font-size: 1.6rem;
    &.light {
        background-color: var(--white);
        border: 2px solid var(--deep-blue);
        color: var(--deep-blue);
    }
    &.dark {
        background-color: var(--deep-blue);
        border: 2px solid var(--beige);
        color: var(--white);
    }
}

.main__item_text_bigger {
    width: 100%;
    font-size: 2rem;
    text-align: left;
}

.main__search_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.main__content {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    position: relative;
}

.main__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 20px;
}

.main__detailed_section {
    min-width: 300px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7);
    &:empty {
        display: none;
    }
}

.main__item_text {
    text-align: center;
}
