.input__label_password {
    color: var(--deep-blue);
    &.week {
        color: var(--red);
    }
    &.medium {
        color: var(--electric-orange);
    }
    &.hard {
        color: var(--green);
    }
}
