.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.start__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    font-size: 1.6rem;
    text-transform: none;
    text-transform: none;
    background-color: var(--white);
    border: 2px solid var(--deep-blue);
    color: var(--deep-blue);
    &.dark {
        background-color: var(--deep-blue);
        border: 2px solid var(--beige);
        color: var(--white);
    }
}

.main__item_text-bigger {
    width: 100%;
    font-size: 2rem;
    text-align: left;
}

.main__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.main__item_text {
    text-align: center;
}
